@model Team
@{
    ViewData["Title"] = "Závody";
}

@*Filtry*@
@await Html.PartialAsync("./LeagueFilterPartial.cshtml", Model.TeamRaces)

@foreach (var race in Model.TeamRaces)
{
    var leagueNameLow = race.Race.League?.Name.ToLower() ?? "non-league";
    <div id="@race.RaceId" class="text-left race" data-league="@leagueNameLow">
        @*Hlavičky okýnka závodu*@
        <div class="border-bottom header text-white @leagueNameLow">
            <h4 style="font-weight: 500;">
                @race.Race.DateTime.ToString("d.M. HH:mm") @race.Race.League?.Name @race.Race.Place
                @if(race.Race.Timer){
                    <text> + Časomír</text> 
                }
            </h4>
        </div>
        
        @*Levý sloupec pozic*@
        <div class="container d-flex">
            <div class="col-12 d-flex p mt-2">
                <div class="col-6 pe-1">
                    @for(int position = 1 ; position < 4 ; position++)
                    {

                        string assignedUsername = race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "";

                        <div class="row mb-3">
                            <div class="col-6 row">
                                @if (Model.People.Any(p => p.UserName == User.Identity?.Name))
                                {
                                    <div class="col-6">
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success @((String.IsNullOrEmpty(assignedUsername)) ? "" : "d-none")" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger @((!String.IsNullOrEmpty(assignedUsername) && assignedUsername == User.Identity?.Name ) ? "" : "d-none")" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    </div>
                                }
                                <label class="col-6 col-form-label" for="@race.RaceId-@position">@(((PositionNameEnum)position).ToString()):</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="@race.RaceId-@position" class="form-control" value="@(race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "")" disabled />
                            </div>
                        </div>
                    }

                    @*Zrušení úplné účasti na závodu*@
                    @{
                        var userDeclined = race.TeamRacePeople.Any(u => u.Position == -1 && u.Person?.UserName == User.Identity?.Name);

                        <button id="@race.RaceId--1-dec" class="mt-1 btn-sm btn-success @(userDeclined ? "" : "d-none")" onclick="DeclineRace(@race.TeamId, @race.RaceId, -1)">
                            <a>Můžu</a>
                        </button>

                        <button id="@race.RaceId--1-con" class="mt-1 btn-sm btn-danger @(userDeclined ? "d-none" : "")" onclick="ConfirmRace(@race.TeamId, @race.RaceId, -1)">
                            <a>Nemůžu</a>
                        </button>
                    }

                   
                    <div id="away-box" class="row @((race.TeamRacePeople.Any(trp => trp.Position == -1))?"":"d-none")">
                        <h5 class="text-danger mt-1">
                            Nemůže:
                        </h5>
                        <p id="@race.RaceId--1" class="text-danger fw-bold">
                            @string.Join(", ", race.TeamRacePeople.Where(trp => trp.Position == -1).Select(trp => trp.Person.UserName))
                        </p>
                    </div>
                    
                </div>
                <div class="col-6">
                    @for (int position = 4; position < 8; position++)
                    {
                        string assignedUsername = race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "";

                        <div class="row mb-3">
                            <div class="col-6 row">
                                @if (Model.People.Any(p => p.UserName == User.Identity?.Name))
                                {
                                    <div class="col-6">
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success @((String.IsNullOrEmpty(assignedUsername)) ? "" : "d-none")" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger @((!String.IsNullOrEmpty(assignedUsername) && assignedUsername == User.Identity?.Name) ? "" : "d-none")" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    </div>
                                }
                                <label class="col-6 col-form-label" for="@race.RaceId-@position">@(((PositionNameEnum)position).ToString()):</label>
                            </div>
                            <div class="col-9">                           
                                <input type="text" id="@race.RaceId-@position" class="form-control" value="@(race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "")" disabled />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    
    function ConfirmRace(teamId, raceId, positionId) {
        $.ajax({
            url: '@Url.Action("ConfirmRace", "Team")',
            type: 'POST',
            data: { teamId: teamId, raceId: raceId, positionId: positionId },
            success: function (response) {
                SetPersonToInput(raceId, positionId);
            },
            error: function (xhr, status, error) {
                let errorMessage = xhr.responseText || 'Nastala chyba při potvrzování pozice.';
                alert(errorMessage);
            }
        });
    };

    function DeclineRace(teamId, raceId, positionId) {
        $.ajax({
            url: '@Url.Action("DeclineRace", "Team")',
            type: 'POST',
            data: { teamId: teamId, raceId: raceId, positionId: positionId },
            success: function (response) {
                SetPersonToInput(raceId, 0);
            },
            error: function (xhr, status, error) {
                alert('Nastala chyba při odesílání dat: ' + error);
            }
        });
    };

    function SetPersonToInput(raceId, positionId){

        for (var i = 1; i < 8; i++) {

            var oldInput = document.getElementById(raceId + "-" + i);
            if (oldInput.value.includes("@User.Identity.Name")) {
                var oldDecButton = document.getElementById(raceId + "-" + i + "-" + "dec");
                var oldConButton = document.getElementById(raceId + "-" + i + "-" + "con");
                oldInput.value = "";
                oldDecButton.classList.add("d-none");
                oldConButton.classList.remove("d-none");
            }
        }
        var oldInput = document.getElementById(raceId + "--1");
        if (oldInput.textContent.includes("@User.Identity.Name")) {
            var oldDecButton = document.getElementById(raceId + "--1-" + "dec");
            var oldConButton = document.getElementById(raceId + "--1-" + "con");
            removeNameFromList(oldInput, "@User.Identity.Name");
            oldDecButton.classList.add("d-none");
            oldConButton.classList.remove("d-none");
            if(oldInput.textContent === ""){
                document.getElementById("away-box").classList.add("d-none");
            }
        }

        if (positionId != 0) {
            if(positionId != -1){
                var newInput = document.getElementById(raceId + "-" + positionId);
                newInput.value = "@Html.Raw(User.Identity.Name)";
            }
            else{   
                var newInput = document.getElementById(raceId + "-" + positionId);
                if(newInput.textContent.trim() != ""){
                    newInput.textContent += ", ";
                }
                newInput.textContent += "@Html.Raw(User.Identity.Name)";
                document.getElementById("away-box").classList.remove("d-none");

            }
            // Switch buttons
            var thisButton = document.getElementById(raceId + "-" + positionId + "-" + "con");
            var otherButton = document.getElementById(raceId + "-" + positionId + "-" + "dec");   
            ToggleButtons(thisButton, otherButton);
        }
    }

    function ToggleButtons(button1, button2){
        if(button1.classList.contains("d-none")){
            button1.classList.remove("d-none");
            button2.classList.add("d-none");
        }
        else{
            button1.classList.add("d-none");
            button2.classList.remove("d-none");
        }
    }

    function removeNameFromList(inputElement, nameToRemove) {
        let names = inputElement.textContent.replace(/\s+/g, ' ').trim();

        // Vytvoření regulárního výrazu pro jméno s možnou čárkou a mezerou okolo
        const regex = new RegExp(`(^|,\\s*)${nameToRemove}(,\\s*|$)`, 'g');

        // Odeber jméno a přebytečné čárky/mezeru
        names = names.replace(regex, (match, p1, p2) => {
            if (p1 && p2) return ', '; // mezi dvěma jmény – nahraď jednou čárkou
            return ''; // jinak odeber úplně
        });

        // Ořež případné zbylé čárky a mezery
        names = names.replace(/^,\s*|\s*,\s*$/g, '').trim();

        inputElement.textContent = names;
    }


</script>