@model Team
@{
    ViewData["Title"] = "Závody";
}

<div class="mt-2 mb-4">
    @{
        var usedLeagues = Model.TeamRaces
        .Where(r => r.Race?.League != null)
        .Select(r => r.Race.League)
        .Distinct()
        .ToList();

        var hasNoLeague = Model.TeamRaces.Any(r => r.Race?.League == null);
    }
    @foreach (var league in usedLeagues)
    {
        
        var leagueClass = league.Name switch
        {
            "OL" => "ol",
            "NHHL" => "nocni",
            "MSP" => "msp",
            _ => ""
        };


        <div class="form-check form-check-inline">
            <input class="form-check-input league-filter" type="checkbox" value="@league.Name" id="filter-@league.Name" checked />
            <label class="form-check-label fw-bold text-white px-2 rounded @leagueClass" for="filter-@league.Name">
                @league.Name
            </label>
        </div>
    }
    @if (hasNoLeague)
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input league-filter" type="checkbox" value="ostatni" id="filter-ostatni" checked />
            <label class="form-check-label fw-bold text-white px-2 rounded" style="background-color: deeppink;" for="filter-ostatni">
                Jiné
            </label>
        </div>
    }
</div>
@foreach (var race in Model.TeamRaces)
{
    <div id="@race.RaceId" class="text-left race" data-league="@(race.Race.League?.Name ?? "ostatni")">
        @switch(race.Race.League?.Name)
        {
        case "OL":
            <div class="border-bottom header text-white ol">
                    <h4>
                        @race.Race.DateTime.ToString("d.M. - HH:mm") @race.Race.League.Name @race.Race.Place
                        @if(race.Race.Timer){
                            <text> + Časomír</text> 
                        }
                    </h4>
            </div>
            break; 
        case "NHHL":
            <div class="border-bottom header text-white nocni">
                    <h4>
                        @race.Race.DateTime.ToString("d.M. - HH:mm") @race.Race.League.Name @race.Race.Place
                        @if (race.Race.Timer)
                        {
                            <text> + Časomír</text>
                        }
                    </h4>
            </div>
            break;
        case "MSP":
            <div class="border-bottom header text-white msp">
                    <h4>
                        @race.Race.DateTime.ToString("d.M. - HH:mm") @race.Race.League.Name @race.Race.Place
                        @if (race.Race.Timer)
                        {
                            <text> + Časomír</text>
                        }
                    </h4>
            </div>
            break;
        default:
            <div class="border-bottom header text-white" style="background-color: deeppink">
                    <h4>@race.Race.DateTime.ToString("d.M. - HH:mm") @race.Race.Place</h4>
            </div>
            break;
        }

        <div class="container d-flex">
            <div class="col-12 d-flex p mt-2">
                <div class="col-sm-6 pe-1">
                    @for(int position = 1 ; position < 4 ; position++)
                    {
                        
                        string assignedUsername = race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "";

                        <div class="row mb-3">
                            @if (Model.People.Any(p => p.UserName == User.Identity.Name))
                            {
                                <div class="col-1">
                                    @if (assignedUsername == User.Identity.Name)
                                    {
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success d-none" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    }
                                    else if (String.IsNullOrEmpty(assignedUsername))
                                    {
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger d-none" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    }
                                </div>
                            }
                            <label class="col-sm-1 col-form-label" for="@race.RaceId-@position">@(((PositionNameEnum)position).ToString()):</label>
                            <div class="col-sm-9">
                                <input type="text" id="@race.RaceId-@position" class="form-control" value="@(race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "")" disabled />
                            </div>
                        </div>
                    }
                </div>
                <div class="col-6">
                    @for (int position = 4; position < 8; position++)
                    {
                        string assignedUsername = race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "";

                        <div class="row mb-3">
                            @if (Model.People.Any(p => p.UserName == User.Identity.Name))
                            {
                                <div class="col-1">
                                    @if (assignedUsername == @User.Identity.Name)
                                    {
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success d-none" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="@race.RaceId-@position-con" class="mt-1 btn-sm btn-success" onclick="ConfirmRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                        <button id="@race.RaceId-@position-dec" class="mt-1 btn-sm btn-danger d-none" onclick="DeclineRace(@race.TeamId, @race.RaceId, @position)">
                                            <i class="fa fa-lg fa-times"></i>
                                        </button>
                                    }
                                </div>
                            }
                            <label class="col-sm-1 col-form-label" for="@race.RaceId-@position">@(((PositionNameEnum)position).ToString()):</label>
                            <div class="col-sm-9">                           
                                <input type="text" id="@race.RaceId-@position" class="form-control" value="@(race.TeamRacePeople.FirstOrDefault(u => u.Position == position)?.Person?.UserName ?? "")" disabled />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    
    function ConfirmRace(teamId, raceId, positionId) {
        $.ajax({
            url: '@Url.Action("ConfirmRace", "Team")',
            type: 'POST',
            data: { teamId: teamId, raceId: raceId, positionId: positionId },
            success: function (response) {
                SetPersonToInput(raceId, positionId);
            },
            error: function (xhr, status, error) {
                let errorMessage = xhr.responseText || 'Nastala chyba při potvrzování pozice.';
                alert(errorMessage);
            }
        });
    };

    function DeclineRace(teamId, raceId, positionId) {
        $.ajax({
            url: '@Url.Action("DeclineRace", "Team")',
            type: 'POST',
            data: { teamId: teamId, raceId: raceId, positionId: positionId },
            success: function (response) {
                SetPersonToInput(raceId, 0);
            },
            error: function (xhr, status, error) {
                alert('Nastala chyba při odesílání dat: ' + error);
            }
        });
    };

    function SetPersonToInput(raceId, positionId){

        for (var i = 1; i < 8; i++) {

            var oldInput = document.getElementById(raceId + "-" + i);
            if (oldInput.value.includes("@User.Identity.Name")) {
                var oldDecButton = document.getElementById(raceId + "-" + i + "-" + "dec");
                var oldConButton = document.getElementById(raceId + "-" + i + "-" + "con");
                oldInput.value = "";
                oldDecButton.classList.add("d-none");
                oldConButton.classList.remove("d-none");
            }
        }
        if (positionId != 0) {
            var newInput = document.getElementById(raceId + "-" + positionId);
            newInput.value = "@Html.Raw(User.Identity.Name)";
        }

        // Switch buttons
        var thisButton = document.getElementById(raceId + "-" + positionId + "-" + "con");
        var otherButton = document.getElementById(raceId + "-" + positionId + "-" + "dec");   
        ToggleButtons(thisButton, otherButton);

    }

    function ToggleButtons(button1, button2){
        if(button1.classList.contains("d-none")){
            button1.classList.remove("d-none");
            button2.classList.add("d-none");
        }
        else{
            button1.classList.add("d-none");
            button2.classList.remove("d-none");
        }
    }

    document.querySelectorAll('.league-filter').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            var leagueName = this.value;
            var show = this.checked;

            document.querySelectorAll(`.race[data-league='${leagueName}']`).forEach(function (raceDiv) {
                raceDiv.style.display = show ? '' : 'none';
            });
        });
    });

</script>