@using System.Security.Claims
@model List<Event>
@{
    ViewData["Title"] = "Akce";
}
<div class="row">
    <div class="col-1" style="margin-top: 10px">
        <button class="mt-1 btn-sm btn-warning" type="submit" form="exportForm">
            Exportovat
        </button>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-1">
            <button class="btn-sm btn-success mt-1" onclick="location.href='@Url.Action("Create", "Event")'">Přidat</button>
        </div>
    </div>
}
<form id="exportForm" method="post" asp-controller="Event" asp-action="ExportEvents">
    @Html.AntiForgeryToken()

    @foreach (var ev in Model)
    {        
        // Skrytý input pro export do kalendáře
        <input type="hidden" name="eventIds" value="@ev.Id" class="event-export-input" />

        var userId = User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier);
        bool confirmed = ev.EventPeople.Any(ep => ep.PersonId == userId);
        <div class="row">

            <div class="col-1" style="margin-top: 10px;">
                <button type="button" id="@ev.Id-con" class="mt-1 btn-sm btn-success @(confirmed ? "d-none" : "")" onclick="ConfirmEvent(@ev.Id)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>

                <button type="button" id="@ev.Id-dec" class="mt-1 btn-sm btn-danger @(confirmed ? "" : "d-none")" onclick="DeclineEvent(@ev.Id)">
                    <i class="fa fa-lg fa-times"></i>
                </button>
            </div>

            <div class="col-9">
                <div id="@ev.Id" class="text-left race mb-4">
                    <div class="border-bottom rounded-3 bg-yellow">
                        <h4 class="ms-2 pt-1">
                            @ev.DateTime.ToString("d.M. HH:mm") @ev.Name - @ev.Place
                        </h4>    
                    </div>

                    <div class="container d-flex">
                    </div>
                </div>
            </div>
            <div class="col-1" style="margin-top: 10px">
                <button type="button" class="mt-1 btn-sm btn-warning" onclick="location.href='@Url.Action("Detail", "Event", new { id = ev.Id })'">Detail</button>
            </div>
        </div>
    }
</form>
<script>

    function ConfirmEvent(eventId) {
        
        $.ajax({
            url: '@Url.Action("ConfirmEvent", "Event")',
            type: 'POST',
            data: { eventId: eventId },
            success: function (response) {
                // Switch buttons
                var thisButton = document.getElementById(eventId + "-con");
                var otherButton = document.getElementById(eventId + "-dec");
                ToggleButtons(thisButton, otherButton);
            },
            error: function (xhr, status, error) {
                alert('Nastala chyba při odesílání dat: ' + error);
            }
        });
    };

    function DeclineEvent(eventId) {
        $.ajax({
            url: '@Url.Action("DeclineEvent", "Event")',
            type: 'POST',
            data: { eventId: eventId},
            success: function (response) {
                // Switch buttons
                var thisButton = document.getElementById(eventId + "-con");
                var otherButton = document.getElementById(eventId + "-dec");
                ToggleButtons(thisButton, otherButton);
            },
            error: function (xhr, status, error) {
                alert('Nastala chyba při odesílání dat: ' + error);
            }
        });
    };

    function ToggleButtons(button1, button2) {
        if (button1.classList.contains("d-none")) {
            button1.classList.remove("d-none");
            button2.classList.add("d-none");
        }
        else {
            button1.classList.add("d-none");
            button2.classList.remove("d-none");
        }
    }
</script>